body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background: url('campus_pic.jpg') no-repeat center center fixed;
  background-size: cover;
  /* make the image as large as possible to cover the container */
  color: #132a13;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main holding the "frame" */
main {
  flex: 1;
  /* take available vertical space */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The frame box */
#frame,
#register-frame {
  background-color: #ecf39e;
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 17px rgb(0, 0, 0, 0.25);
  padding: 15px;
}

/* Nav bar at the top of frame (Home)*/
.nav_bar nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cfcccc;
}

/* Nav bar links (Home)*/
.nav_bar nav a {
  text-decoration: none;
  color: #132a13;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

/* Nav bar links when hovered on or clicked  (Home)*/
.nav_bar nav a:hover {
  color: #90a955;
}

/*Welcome text box (Home) */
.welcome-text {
  flex: 1;
  /* to take remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/*Welcome text (Home) */
.welcome-text h1 {
  font-size: clamp(1.8rem, 5vw, 2.8rem);
  line-height: 1.2;
  margin: 0;
}

/* Button group class (Home)*/
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-top: 15px;
}

/* Login and Register buttons (Home)*/
.button {
  background-color: #4f772d;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Login and Register buttons when hovered on or clicked (Home)*/
.button:hover,
.button:focus {
  background-color: #90a955;
}

/* Footer  */
footer {
  background-color: #31572c;
  /* rich navy with transparency */
  color: #F4F4F9;
  text-align: center;
  padding: 1.2rem 2rem;
  font-size: 0.9rem;
}

/* Footer's contact link when hovered on or clicked */
#footer-link:hover,
#footer-link:focus {
  color: #ecf39e;
}

/* --------------------------- Register CSS --------------------------- */

/* Register Frame (Register)*/
#register-frame {
  margin: 5% auto;
  max-width: 600px;
}

/* The text : Create Your Account  (Register) */
#register-frame h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #132a13;
  font-size: 1.7rem;
}

/* Form styling  (Register) */
#register-form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

/* Labels of the form  (Register) */
#register-form label {
  font-weight: 600;
  color: #132a13;
}

/* Form input fields  (Register) */
#register-form input {
  padding: 10px;
  border: 1px solid #90a955;
  border-radius: 5px;
  font-size: 1rem;
}

/* Register button  (Register) */
#register-form .button {
  background-color: #4f772d;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

/* Register button when hovered on or clicked   (Register)*/
#register-form .button:hover,
#register-form .button:hover {
  background-color: #90a955;
}

/* Already have an account?  (Register) */
#register-frame p {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.9rem;
  color: #132a13;
}

/* Log in   (Register) */
#register-frame p a {

  font-weight: 600;
  text-decoration: none;
}

/* Log in  , when hovered on or clicked  (Register) */
#register-frame p a:hover,
#register-frame p a:focus {
  color: #90a955;
  text-decoration: underline;
}

/* Navigation bar (Register) */
.nav_bar_register nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  background-color: #ecf39e;
  border-bottom: 1px solid #cdcccf;
  gap: 2rem;
}

/* Navigation bar links  (Register)*/
.nav_bar_register nav a {
  text-decoration: none;
  color: #132a13;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;

}

/* Navigation bar links when hovered on or clicked  (Register) */
.nav_bar_register nav a:hover,
.nav_bar_register nav a:focus {
  color: #90a955;
}

/* --------------------------- Login CSS --------------------------- */

#login-frame {
  background-color: #ecf39e;
  width: 60%;
  max-width: 600px;
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 17px rgb(0, 0, 0, 0.25);
  padding: 15px;
}

/* Register Frame (Login)*/
#login-frame {
  margin: 5% auto;
  max-width: 600px;
}

/* The text : Create Your Account  (Login) */
#login-frame h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #132a13;
  font-size: 1.7rem;
}

/* Form styling  (Login) */
#login-form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

/* Labels of the form  (Login) */
#login-form label {
  font-weight: 600;
  color: #132a13;
}

/* Form input fields  (Login) */
#login-form input {
  padding: 10px;
  border: 1px solid #90a955;
  border-radius: 5px;
  font-size: 1rem;
}

/* Register button  (Login) */
#login-form .button {
  background-color: #4f772d;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

/* Register button when hovered on or clicked   (Login)*/
#login-form .button:hover,
#login-form .button:hover {
  background-color: #90a955;
}

/* Already have an account?  (Login) */
#login-frame p {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.9rem;
  color: #132a13;
}

/* Log in (Login) */
#login-frame p a {

  font-weight: 600;
  text-decoration: none;
}

/* Log in  , when hovered on or clicked  (Login) */
#login-frame p a:hover,
#login-frame p a:focus {
  color: #90a955;
  text-decoration: underline;
}

/* Forgot password (Login) */
#forgot-password {
  text-align: center;
}

/* Navigation bar (Login) */
.nav_bar_login nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  background-color: #ecf39e;
  border-bottom: 1px solid #cdcccf;
  gap: 2rem;
}

/* Navigation bar links  (Login)*/
.nav_bar_login nav a {
  text-decoration: none;
  color: #132a13;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;

}

/* Navigation bar links when hovered on or clicked  (Login) */
.nav_bar_login nav a:hover,
.nav_bar_login nav a:focus {
  color: #90a955;
}

/*Background image modifications*/
.homepage {
  background: url('campus_pic.jpg') no-repeat center center fixed;
  background-size: cover;
}

.loginpage {
  background: url('your-image.jpg') center/cover no-repeat;
  position: relative;
}

.loginpage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.575);
  z-index: -1;
}

.registerpage::before {
  content: '';
  position: fixed; /* changed from absolute to fixed*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.575);
  z-index: -1;
}

.forgotpw::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.575);
  z-index: -1;
}

body {
  position: relative;
  z-index: 1;
}


/* --------------------------- Forgot Password CSS --------------------------- */

#resetpw-frame {
  background-color: #ecf39e;
  width:60%;
  max-width: 600px;
  min-height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 17px rgb(0, 0, 0, 0.25);
  padding: 15px;
}

#resetpw-frame {
    margin: 5% auto;
  max-width: 600px;
}

#resetpw-frame h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #132a13;
  font-size: 1.7rem;
}

/* Log in as admin (Forgot Password) */
#resetpw-frame p {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.9rem;
  color: #132a13;
}

/* Log in (Forgot Password) */
#resetpw-frame p a {

  font-weight: 600;
  text-decoration: none;
}

/* Send to email  , when hovered on or clicked  (Forgot Password) */
#resetpw-frame p a:hover,
#resetpw-frame p a:focus {
  color: #90a955;
  text-decoration: underline;
}