body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
  background-color: rgb(27, 24, 24);
  color: wheat;
  padding: 2px;
  margin: -8px;
}

#bigBox {
  width: 300px;
  background-color: rgb(148, 196, 238);
  color: rgb(16, 18, 19);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(142, 142, 150);
  margin-top: 18px;
  padding: 1px;
  text-align: center;
}

.box {
  width: 200px;
  background-color: rgb(252, 98, 78);
  color: rgb(252, 216, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 4px 8px rgb(245, 106, 13);
  margin: 40px;
  text-align: center;
}
