body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background: url('sourcePics/campus_pic.jpg') no-repeat center center fixed;
  background-size: cover;
  /* make the image as large as possible to cover the container */
  color: #132a13;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.registerpage::before {
  content: '';
  position: fixed;
  /* changed from absolute to fixed*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.575);
  z-index: -1;
}

/* Main holding the "frame" */
main {
  flex: 1;
  /* take available vertical space */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation bar */
.nav_bar_register nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  background-color: #ecf39e;
  border-bottom: 1px solid #cdcccf;
  gap: 2rem;
}

/* Navigation bar links */
.nav_bar_register nav a {
  text-decoration: none;
  color: #132a13;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;

}

/* Navigation bar links when hovered on or clicked */
.nav_bar_register nav a:hover,
.nav_bar_register nav a:focus {
  color: #90a955;
}

/* The frame box */
#register-frame {
  background-color: #ecf39e;
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 17px rgb(0, 0, 0, 0.25);
  padding: 15px;
}

/* Register Frame */
#register-frame {
  margin: 5% auto;
  max-width: 600px;
}

/* The text : Create Your Account */
#register-frame h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #132a13;
  font-size: 1.7rem;
}

/* Form styling */
#register-form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

/* Labels of the form */
#register-form label {
  font-weight: 600;
  color: #132a13;
}

/* Form input fields */
#register-form input {
  padding: 10px;
  border: 1px solid #90a955;
  border-radius: 5px;
  font-size: 1rem;
}

/* Register button */
#register-form .button {
  background-color: #4f772d;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

/* Register button when hovered on or clicked */
#register-form .button:hover,
#register-form .button:hover {
  background-color: #90a955;
}

/* Already have an account? */
#register-frame p {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.9rem;
  color: #132a13;
}

/* Register */
#register-frame p a {
  font-weight: 600;
  text-decoration: none;
}

/* Register, when hovered on or clicked */
#register-frame p a:hover,
#register-frame p a:focus {
  color: #90a955;
  text-decoration: underline;
}

/* Footer  */
footer {
  background-color: #31572c;
  /* rich navy with transparency */
  color: #F4F4F9;
  text-align: center;
  padding: 1.2rem 2rem;
  font-size: 0.9rem;
}

/* Footer's contact link when hovered on or clicked */
#footer-link:hover,
#footer-link:focus {
  color: #ecf39e;
}